<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>NEw cheese</h1>
  <form action="/cheeses" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="color" placeholder="Color">
    <input type="text" name="origin" placeholder="Origin">
    <input type="number" name="stink_level" placeholder="Stink">
    <button type="submit">make cheese</button>
  </form>
</body>
</html>